#Настройка скачивания подписки
SUBSCRIPTION_SOAP_URL=
#Настройки для пересоздание продюсера
PRODUCER_SOAP_USER=
PRODUCER_SOAP_PASS=
SIMI_DNS_NAME_ENDPOINT_TEMPLATE=
SIMIP3_DNS_NAME_ENDPOINT_TEMPLATE=
#Общие настройки бота
PPAK_STANDBY_CONNECTION_STRING=
HTTP_PROXY=
HPSM_SCREENSHOT_USER=
HPSM_SCREENSHOT_PASSWORD=
HPSM_PAGE=
HPSM_EXIT_PAGE=
HPSM_USER=
HPSM_PASS=
HPSM_CHECK_INTERVAL_SECONDS=
HPSM_WAIT_FRAME_TRIES=
ESS_CHAT_ID=
TG_BOT_TOKEN=
DEV_SOAP_URL=
PPAK_SOAP_URL=
PPAK_SOAP_USER=
ASTERISK_IP=
ASTERISK_LOGIN=
ASTERISK_PASS=
DEFAULT_ORACLE_USER=
DEFAULT_ORACLE_PASS=
DEFAULT_MARAND_USER=
DEFAULT_MARAND_PASS=
READ_MARAND_USER=
READ_MARAND_PASS=
#ТЕСТ и ТЕСТ чтение
DEV_DOC_CONNECTION_STRING=s
#Email settings
TARGET_EMAIL=
EMAIL_SENDER_LOGIN=
EMAIL_SENDER_PASS=